<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <a id="webd" class="navbar-brand" href="/home"><i class="fa-solid fa-ghost"></i> WEBD6201 <i class="fa-solid fa-ghost"></i></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <li><a class="nav-link" href="/home"><i class="fa-solid fa-igloo"></i> Home</a></li>
        <li><a class="nav-link" href="/products"><i class="fa-solid fa-store"></i> Products</a></li>
        <li><a class="nav-link" href="/services"><i class="fa-solid fa-cart-shopping"></i> Services</a></li>
        <li><a class="nav-link" href="/about"><i class="fa-solid fa-users-viewfinder"></i> About Us</a></li>
        <li><a class="nav-link" href="/contact"><i class="fa-solid fa-address-card"></i> Contact Us</a></li>
        <li><a id="login" class="nav-link" href="/login"><i class="fa-solid fa-sign-in-alt"></i> Login</a></li>
      </ul>
    </div>
  </div>
</nav>