<h1> <i class="fa-solid fa-ghost"></i> About Us</h1>

<div>
    <p>
        My Name is Martin Barber. I am 32 Years old and Married. My wife and I have been married for almost 3 years
        and we have just had our first baby. Alison was born Feb 9th and she is the light of my life.
    </p>
</div>
<div>
    <p>
        My Name is Alex Blackmore. I am 19 years old. I'm committed to getting through
        school and into the working world. I'm both excited and very nervous to be out of school but mostly
        ready to get started with the rest of my life.
    </p>
</div>