<h1>Welcome to My Website</h1>

<button id="ProductsBtn" class="btn-primary"> Products </button>
<button id="ServicesBtn" class="btn-primary"> Services </button>
<button id="AboutUsBtn" class="btn-primary"> About Us </button>
<button id="ContactUsBtn" class="btn-primary"> Contact Us </button>

<div>
    <h4>Martin Barber</h4>

    <h4>Alex Blackmore</h4>
</div>

<p>Welcome to our website, We hope you enjoy your time here and enjoy the work we have put in for this assignment!</p>