<h1> <i class="fa-solid fa-ghost"></i> Products</h1>

<main>
    <h2>Martin's Top 3 Projects</h2>
    <h4>Personal Project 1</h4>
    <p>A Java Lab that I had done just last
        semester was one of my favourite, My teacher Tom asked us while we were doing our labs (that uses console) to also
        create it in a GUI to test our skills to make sure we knew exactly what we were doing in the labs. If we were able
        to understand how to create a GUI with our labs, the final lab (assignment where we make a GUI) would be much easier.
        I was able to create the lab flawlessly with the listbox refreshing when you opened and closed the ticket.</p>
    <img src="../Images/Martin_program1.png" alt="Personal Project 1 image missing">
    <br>
    <!-- -->
    <br>
    <h4>Personal Project 2</h4>
    <p>My second favourite project I have done was in NETD class where the final project was taking all the previous assignments
        and linking them together to be run in a single program. We would connect all our old labs and some ICE assignments together
        in a single project with a multiform format. Allowing all these documents together was a fun final assignment to end the
        semester. Everything we had worked on previously were put together in 1 project.</p>
    <img src="../Images/Martin_program2.png" alt="Personal Project 2 image missing">
    <br>
    <!-- -->
    <br>
    <h4>Personal Project 3</h4>
    <p>This was an actual personal project I did for a friend who would do trivia night with his friends. He would create approximately 5 sections of
        different groups of questions and after each group he would add peoples scores together but it would unfortunately take more time than he actually
        wanted it to be and wanted an easier way to do it all. So we talked and I created an application that would set the score you would get for the question
        if it was all correct, if they got half marks or no marks at all, if there was bonus questions with X amount of marks as well. Once I created it
        my friend said it would save him approximately 5-10 minutes per round depending how many people would be playing. I have since made a newer version that will now take the players
        names and instead of my friend writing down their scores, he can recall the player and add to their score. Making it EVEN more user friendly.</p>
    <img src="../Images/Martin_program3.png" alt="Personal Project 3 image missing">
    <br>
    <!-- -->
    <br>
</main>
<main>
    <h2>Alex's Top 3 Projects</h2>
    <h4>Personal Project 1</h4>
    <p>The first personal project I'm really proud of is one of my NETD
        assignments. It was one of the first real projects where I could see a visual representation of my coding
        and the sort of applications I could go on to make either for others or myself. It wasn't anything
        complicated, it was just somewhat amazing to me that I could do both ends of a program. It was a simple
        program that took in a certain number of values before doing a calculation and giving a result.</p>
    <img src="../Images/alex_program1.JPG" alt="Personal Project 1 image missing">
    <br>
    <!-- -->
    <br>
    <h4>Personal Project 2</h4>
    <p>The second project I wanted to talk about is the second NETD assignment I
        did in my second year. This was the first class we used xaml for which I first I didn't like but grew to
        love. In this assignment the functionality of the project was split up into two different tabs or pages
        one was for entering information and the other for viewing it.</p>
    <img src="../Images/alex_program2.JPG" alt="Personal Project 2 image missing">
    <br>
    <!-- -->
    <br>
    <h4>Personal Project 3</h4>
    <p>The last project that I had that I was really proud of was one where I
        used asp .NET and razer pages to make a .NET. It was very interesting to me to see how quickly and
        efficiently I could make a web application if I wanted to. As long as the models could be figured out.</p>
    <img src="../Images/alex_program3.JPG" alt="Personal Project 3 image missing">
    <br>
    <!-- -->
    <br>
    <p>





        .
    </p>
</main>