<h1> <i class="fa-solid fa-ghost"></i> Services</h1>

<main>
    <h4>Skills Martin will bring for an Employer</h4>
    <ul>
        <li>Communication Skills</li>
        <li>Adaptability</li>
        <li>Leadership Skills</li>
    </ul>
</main>

<main>
    <h4>Skills Alex will bring for an Employer</h4>
    <ul>
        <li>Attention to details</li>
        <li>Problem Solving</li>
        <li>Eagerness to Learn</li>
    </ul>
</main>